# Root level files
* @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten @NickBanken @JeffreyNijs @maltsavkiryl @Blocken-Jordy @JeroenVanC @Robbe95 @wouterlms

# Documentation
/docs/ @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten @NickBanken @JeffreyNijs @maltsavkiryl @Blocken-Jordy @JeroenVanC @Robbe95 @wouterlms

# API packages
/packages/api/ @jorenvandeweyer @PauwelsPieter @maartensijmkens @Kobe-Kwanten

# Web packages
/packages/web/ @NickBanken @JeffreyNijs @maltsavkiryl @Blocken-Jordy @JeroenVanC @Robbe95 @wouterlms