# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
_generation

node_modules
dist
*.local

**/.vitepress/dist
**/.vitepress/cache
**/*/.mjs
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.tgz
*storybook.log
storybook-static
**/storybook-static
static
**/static

**/.eslintcache