@utility shadow-floating {
  box-shadow:
    0px 3px 3px -1.5px #3641520a,
    0px 8px 8px -4px #36415208;
}

@keyframes popoverFadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(-4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(-4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToTop {
  to {
    opacity: 0;
    transform: translateY(4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToRight {
  to {
    opacity: 0;
    transform: translateX(-4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToBottom {
  to {
    opacity: 0;
    transform: translateY(-4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToLeft {
  to {
    opacity: 0;
    transform: translateX(4px) scale(0.97);
  }
}

[data-animation='popover-default'] {
  animation-duration: 75ms;
  animation-timing-function: ease-out;
}

[data-animation='popover-default'][data-state='open'][data-side='top'] {
  animation-name: popoverFadeInFromTop;
}

[data-animation='popover-default'][data-state='open'][data-side='right'] {
  animation-name: popoverFadeInFromRight;
}

[data-animation='popover-default'][data-state='open'][data-side='bottom'] {
  animation-name: popoverFadeInFromBottom;
}

[data-animation='popover-default'][data-state='open'][data-side='left'] {
  animation-name: popoverFadeInFromLeft;
}

[data-animation='popover-default'][data-state='closed'][data-side='top'] {
  animation-name: popoverFadeOutToTop;
}

[data-animation='popover-default'][data-state='closed'][data-side='right'] {
  animation-name: popoverFadeOutToRight;
}

[data-animation='popover-default'][data-state='closed'][data-side='bottom'] {
  animation-name: popoverFadeOutToBottom;
}

[data-animation='popover-default'][data-state='closed'][data-side='left'] {
  animation-name: popoverFadeOutToLeft;
}
