@variant dark (&:where(.dark, .dark *));

@utility z-sticky {
  z-index: var(--z-sticky);
}

@utility z-overlay {
  z-index: var(--z-overlay);
}

@utility z-modal {
  z-index: var(--z-modal);
}

@utility z-tooltip {
  z-index: var(--z-tooltip);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility glassy {
  background:
    linear-gradient(325deg, transparent 0%, transparent 80%, rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(45deg, transparent 0%, transparent 85%, rgba(0, 0, 0, 0.8) 100%),
    linear-gradient(150deg, transparent 0%, transparent 80%, rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(225deg, transparent 0%, transparent 85%, rgba(0, 0, 0, 0.8) 100%), rgba(255, 255, 255, 0.4);
}

@utility shadow-floating {
  box-shadow:
    0px 3px 3px -1.5px #3641520a,
    0px 8px 8px -4px #36415208;
}

@utility glassy-inner-content {
  @apply bg-linear-to-br from-secondary to-quaternary group-hover:from-primary;
}

@keyframes popoverFadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(-4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(-4px) scale(0.97);
  }
}

@keyframes popoverFadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToTop {
  to {
    opacity: 0;
    transform: translateY(4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToRight {
  to {
    opacity: 0;
    transform: translateX(-4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToBottom {
  to {
    opacity: 0;
    transform: translateY(-4px) scale(0.97);
  }
}

@keyframes popoverFadeOutToLeft {
  to {
    opacity: 0;
    transform: translateX(4px) scale(0.97);
  }
}

[data-animation='popover-default'] {
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

[data-animation='popover-default'][data-state='open'][data-side='top'] {
  animation-name: popoverFadeInFromTop;
}

[data-animation='popover-default'][data-state='open'][data-side='right'] {
  animation-name: popoverFadeInFromRight;
}

[data-animation='popover-default'][data-state='open'][data-side='bottom'] {
  animation-name: popoverFadeInFromBottom;
}

[data-animation='popover-default'][data-state='open'][data-side='left'] {
  animation-name: popoverFadeInFromLeft;
}

[data-animation='popover-default'][data-state='closed'][data-side='top'] {
  animation-name: popoverFadeOutToTop;
}

[data-animation='popover-default'][data-state='closed'][data-side='right'] {
  animation-name: popoverFadeOutToRight;
}

[data-animation='popover-default'][data-state='closed'][data-side='bottom'] {
  animation-name: popoverFadeOutToBottom;
}

[data-animation='popover-default'][data-state='closed'][data-side='left'] {
  animation-name: popoverFadeOutToLeft;
}
